@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* set var on top */
/* line 8, ../sass/_variables.scss */
.m-t-5 {
  margin-top: 5px !important;
}

/* line 11, ../sass/_variables.scss */
.m-l-5 {
  margin-left: 5px !important;
}

/* line 14, ../sass/_variables.scss */
.m-r-5 {
  margin-right: 5px !important;
}

/* line 17, ../sass/_variables.scss */
.m-b-5 {
  margin-bottom: 5px !important;
}

/* line 8, ../sass/_variables.scss */
.m-t-10 {
  margin-top: 10px !important;
}

/* line 11, ../sass/_variables.scss */
.m-l-10 {
  margin-left: 10px !important;
}

/* line 14, ../sass/_variables.scss */
.m-r-10 {
  margin-right: 10px !important;
}

/* line 17, ../sass/_variables.scss */
.m-b-10 {
  margin-bottom: 10px !important;
}

/* line 8, ../sass/_variables.scss */
.m-t-15 {
  margin-top: 15px !important;
}

/* line 11, ../sass/_variables.scss */
.m-l-15 {
  margin-left: 15px !important;
}

/* line 14, ../sass/_variables.scss */
.m-r-15 {
  margin-right: 15px !important;
}

/* line 17, ../sass/_variables.scss */
.m-b-15 {
  margin-bottom: 15px !important;
}

/* line 8, ../sass/_variables.scss */
.m-t-20 {
  margin-top: 20px !important;
}

/* line 11, ../sass/_variables.scss */
.m-l-20 {
  margin-left: 20px !important;
}

/* line 14, ../sass/_variables.scss */
.m-r-20 {
  margin-right: 20px !important;
}

/* line 17, ../sass/_variables.scss */
.m-b-20 {
  margin-bottom: 20px !important;
}

/* line 8, ../sass/_variables.scss */
.m-t-25 {
  margin-top: 25px !important;
}

/* line 11, ../sass/_variables.scss */
.m-l-25 {
  margin-left: 25px !important;
}

/* line 14, ../sass/_variables.scss */
.m-r-25 {
  margin-right: 25px !important;
}

/* line 17, ../sass/_variables.scss */
.m-b-25 {
  margin-bottom: 25px !important;
}

/* line 8, ../sass/_variables.scss */
.m-t-30 {
  margin-top: 30px !important;
}

/* line 11, ../sass/_variables.scss */
.m-l-30 {
  margin-left: 30px !important;
}

/* line 14, ../sass/_variables.scss */
.m-r-30 {
  margin-right: 30px !important;
}

/* line 17, ../sass/_variables.scss */
.m-b-30 {
  margin-bottom: 30px !important;
}

/* line 8, ../sass/_variables.scss */
.m-t-35 {
  margin-top: 35px !important;
}

/* line 11, ../sass/_variables.scss */
.m-l-35 {
  margin-left: 35px !important;
}

/* line 14, ../sass/_variables.scss */
.m-r-35 {
  margin-right: 35px !important;
}

/* line 17, ../sass/_variables.scss */
.m-b-35 {
  margin-bottom: 35px !important;
}

/* line 8, ../sass/_variables.scss */
.m-t-40 {
  margin-top: 40px !important;
}

/* line 11, ../sass/_variables.scss */
.m-l-40 {
  margin-left: 40px !important;
}

/* line 14, ../sass/_variables.scss */
.m-r-40 {
  margin-right: 40px !important;
}

/* line 17, ../sass/_variables.scss */
.m-b-40 {
  margin-bottom: 40px !important;
}

/* line 8, ../sass/_variables.scss */
.m-t-45 {
  margin-top: 45px !important;
}

/* line 11, ../sass/_variables.scss */
.m-l-45 {
  margin-left: 45px !important;
}

/* line 14, ../sass/_variables.scss */
.m-r-45 {
  margin-right: 45px !important;
}

/* line 17, ../sass/_variables.scss */
.m-b-45 {
  margin-bottom: 45px !important;
}

/* line 8, ../sass/_variables.scss */
.m-t-50 {
  margin-top: 50px !important;
}

/* line 11, ../sass/_variables.scss */
.m-l-50 {
  margin-left: 50px !important;
}

/* line 14, ../sass/_variables.scss */
.m-r-50 {
  margin-right: 50px !important;
}

/* line 17, ../sass/_variables.scss */
.m-b-50 {
  margin-bottom: 50px !important;
}

/* line 8, ../sass/_variables.scss */
.m-t-55 {
  margin-top: 55px !important;
}

/* line 11, ../sass/_variables.scss */
.m-l-55 {
  margin-left: 55px !important;
}

/* line 14, ../sass/_variables.scss */
.m-r-55 {
  margin-right: 55px !important;
}

/* line 17, ../sass/_variables.scss */
.m-b-55 {
  margin-bottom: 55px !important;
}

/* line 8, ../sass/_variables.scss */
.m-t-60 {
  margin-top: 60px !important;
}

/* line 11, ../sass/_variables.scss */
.m-l-60 {
  margin-left: 60px !important;
}

/* line 14, ../sass/_variables.scss */
.m-r-60 {
  margin-right: 60px !important;
}

/* line 17, ../sass/_variables.scss */
.m-b-60 {
  margin-bottom: 60px !important;
}

/* line 8, ../sass/_variables.scss */
.m-t-65 {
  margin-top: 65px !important;
}

/* line 11, ../sass/_variables.scss */
.m-l-65 {
  margin-left: 65px !important;
}

/* line 14, ../sass/_variables.scss */
.m-r-65 {
  margin-right: 65px !important;
}

/* line 17, ../sass/_variables.scss */
.m-b-65 {
  margin-bottom: 65px !important;
}

/* line 8, ../sass/_variables.scss */
.m-t-70 {
  margin-top: 70px !important;
}

/* line 11, ../sass/_variables.scss */
.m-l-70 {
  margin-left: 70px !important;
}

/* line 14, ../sass/_variables.scss */
.m-r-70 {
  margin-right: 70px !important;
}

/* line 17, ../sass/_variables.scss */
.m-b-70 {
  margin-bottom: 70px !important;
}

/* line 8, ../sass/_variables.scss */
.m-t-75 {
  margin-top: 75px !important;
}

/* line 11, ../sass/_variables.scss */
.m-l-75 {
  margin-left: 75px !important;
}

/* line 14, ../sass/_variables.scss */
.m-r-75 {
  margin-right: 75px !important;
}

/* line 17, ../sass/_variables.scss */
.m-b-75 {
  margin-bottom: 75px !important;
}

/* line 8, ../sass/_variables.scss */
.m-t-80 {
  margin-top: 80px !important;
}

/* line 11, ../sass/_variables.scss */
.m-l-80 {
  margin-left: 80px !important;
}

/* line 14, ../sass/_variables.scss */
.m-r-80 {
  margin-right: 80px !important;
}

/* line 17, ../sass/_variables.scss */
.m-b-80 {
  margin-bottom: 80px !important;
}

/* line 8, ../sass/_variables.scss */
.m-t-85 {
  margin-top: 85px !important;
}

/* line 11, ../sass/_variables.scss */
.m-l-85 {
  margin-left: 85px !important;
}

/* line 14, ../sass/_variables.scss */
.m-r-85 {
  margin-right: 85px !important;
}

/* line 17, ../sass/_variables.scss */
.m-b-85 {
  margin-bottom: 85px !important;
}

/* line 8, ../sass/_variables.scss */
.m-t-90 {
  margin-top: 90px !important;
}

/* line 11, ../sass/_variables.scss */
.m-l-90 {
  margin-left: 90px !important;
}

/* line 14, ../sass/_variables.scss */
.m-r-90 {
  margin-right: 90px !important;
}

/* line 17, ../sass/_variables.scss */
.m-b-90 {
  margin-bottom: 90px !important;
}

/* line 8, ../sass/_variables.scss */
.m-t-95 {
  margin-top: 95px !important;
}

/* line 11, ../sass/_variables.scss */
.m-l-95 {
  margin-left: 95px !important;
}

/* line 14, ../sass/_variables.scss */
.m-r-95 {
  margin-right: 95px !important;
}

/* line 17, ../sass/_variables.scss */
.m-b-95 {
  margin-bottom: 95px !important;
}

/* line 8, ../sass/_variables.scss */
.m-t-100 {
  margin-top: 100px !important;
}

/* line 11, ../sass/_variables.scss */
.m-l-100 {
  margin-left: 100px !important;
}

/* line 14, ../sass/_variables.scss */
.m-r-100 {
  margin-right: 100px !important;
}

/* line 17, ../sass/_variables.scss */
.m-b-100 {
  margin-bottom: 100px !important;
}

/* map are "likes" array, set them after vars */
/*
$grid-breakpoints : (
	xs : 0,
	sm: 576px,
	md : 768px,
	lg: 992px,
	xl : 1200px,
);*/
/* line 1, ../sass/_grid.scss */
.grid {
  display: flex;
}

/* line 5, ../sass/_grid.scss */
.grid--wrap {
  display: flex;
  flex-wrap: wrap;
}

/* line 9, ../sass/_grid.scss */
.grid__item {
  flex-grow: 1;
}

/* line 14, ../sass/_grid.scss */
.grid__item--basis-10 {
  flex-basis: 10%;
}

/* line 14, ../sass/_grid.scss */
.grid__item--basis-20 {
  flex-basis: 20%;
}

/* line 14, ../sass/_grid.scss */
.grid__item--basis-30 {
  flex-basis: 30%;
}

/* line 14, ../sass/_grid.scss */
.grid__item--basis-40 {
  flex-basis: 40%;
}

/* line 14, ../sass/_grid.scss */
.grid__item--basis-50 {
  flex-basis: 50%;
}

/* line 14, ../sass/_grid.scss */
.grid__item--basis-60 {
  flex-basis: 60%;
}

/* line 14, ../sass/_grid.scss */
.grid__item--basis-70 {
  flex-basis: 70%;
}

/* line 14, ../sass/_grid.scss */
.grid__item--basis-80 {
  flex-basis: 80%;
}

/* line 14, ../sass/_grid.scss */
.grid__item--basis-90 {
  flex-basis: 90%;
}

/* line 2, ../sass/_text.scss */
.--text-white {
  color: #fff;
}

/* line 2, ../sass/_text.scss */
.--text-black {
  color: #000;
}

/* line 2, ../sass/_text.scss */
.--text-grey {
  color: #eff2f6;
}

/* line 2, ../sass/_text.scss */
.--text-red {
  color: #ff343d;
}

/* line 72, icons/*.png */
.icons-sprite, .icons-easy-to-use, .icons-good-signal, .icons-new-tech, .icons-visibility {
  background-image: url('../img/icons-sc9d106b401.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-easy-to-use {
  background-position: 0 0;
  height: 91px;
  width: 91px;
}

/* line 84, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-good-signal {
  background-position: 0 -91px;
  height: 87px;
  width: 62px;
}

/* line 84, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-new-tech {
  background-position: 0 -178px;
  height: 91px;
  width: 91px;
}

/* line 84, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-visibility {
  background-position: 0 -269px;
  height: 91px;
  width: 91px;
}

/* line 18, ../sass/screen.scss */
html, body {
  height: 100%;
  font-family: "Myriad Pro";
}

/* line 23, ../sass/screen.scss */
nav {
  top: 20px;
  z-index: 100;
  position: absolute;
  width: 100%;
}
/* line 29, ../sass/screen.scss */
nav img {
  margin-right: 15px;
}
/* line 34, ../sass/screen.scss */
nav a {
  text-decoration: none;
}
/* line 36, ../sass/screen.scss */
nav a:visited {
  color: white;
}
/* line 41, ../sass/screen.scss */
nav .fa-bars {
  color: white;
  margin-left: 20px;
}
/* line 47, ../sass/screen.scss */
nav ul {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 0 100px;
  vertical-align: bottom;
}
/* line 54, ../sass/screen.scss */
nav ul li:last-child {
  margin-left: auto;
}
/* line 60, ../sass/screen.scss */
nav ul li:first-child {
  text-align: center;
  font-family: "Myriad Pro";
}
/* line 65, ../sass/screen.scss */
nav ul li:nth-child(2) {
  flex-grow: 1;
  color: grey;
  font-family: "Myriad Pro";
}
/* line 69, ../sass/screen.scss */
nav ul li:nth-child(2) a {
  margin-left: 15px;
  justify-content: flex-end;
}

/* line 78, ../sass/screen.scss */
#phantom-section {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
/* line 84, ../sass/screen.scss */
#phantom-section .phantom-left {
  height: 100%;
  background-color: #eff2f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10%;
  width: 60%;
}
/* line 93, ../sass/screen.scss */
#phantom-section .phantom-left h1 {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Myriad Pro";
  font-size: 32px;
}
/* line 99, ../sass/screen.scss */
#phantom-section .phantom-left p {
  width: 30%;
  font-family: "Myriad Pro";
  color: grey;
}
/* line 106, ../sass/screen.scss */
#phantom-section .phantom-right {
  height: 100%;
  background-color: #ff343d !important;
  background: url("../img/mars-bg-opti.png") no-repeat;
  background-size: auto 100%;
  background-position: right;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 117, ../sass/screen.scss */
#phantom-section .phantom-right .circle {
  min-height: 350px;
  min-width: 350px;
  background-color: white;
  border-radius: 80%;
  position: relative;
  left: -50%;
  display: flex;
  align-items: center;
}
/* line 128, ../sass/screen.scss */
#phantom-section .phantom-right img {
  position: relative;
  height: 200px;
  /*width : 500px;
  border-radius: 50%;
  background-color: white ;*/
  /*max-width: 100%;
  display:block;*/
}

/* line 141, ../sass/screen.scss */
#tap2fly-section {
  display: flex;
  height: 350px;
}
/* line 145, ../sass/screen.scss */
#tap2fly-section .tap-to-fly {
  flex: 2;
  width: 100%;
  height: 100%;
  background-color: #f7f8fa;
  background: url("../img/tap2fly-nopti.png") no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
/* line 157, ../sass/screen.scss */
#tap2fly-section .tap-to-fly h2 {
  font-size: 25px;
}
/* line 160, ../sass/screen.scss */
#tap2fly-section .tap-to-fly p {
  color: grey;
}
/* line 165, ../sass/screen.scss */
#tap2fly-section .fly-higher {
  flex: 3;
  height: 100%;
  background: purple;
  position: relative;
  background: url("../img/fly-higher-opti.png") no-repeat;
  -webkit-background-size: cover;
  /* pour anciens Chrome et Safari */
  background-size: cover;
  /* version standardisée */
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
/* line 178, ../sass/screen.scss */
#tap2fly-section .fly-higher button {
  margin-right: 10%;
  height: 40px;
  width: 120px;
  border-radius: 100px;
  border-style: inherit;
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
/* line 188, ../sass/screen.scss */
#tap2fly-section .fly-higher .dark-layer {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 199, ../sass/screen.scss */
#tap2fly-section .fly-higher .dark-layer h2 {
  font-size: 25px;
  color: white;
}

/* line 213, ../sass/screen.scss */
#features {
  width: 100%;
  min-height: 350px;
}
/* line 217, ../sass/screen.scss */
#features .title {
  width: 100%;
}
/* line 220, ../sass/screen.scss */
#features .title h2 {
  width: 100%;
  font-weight: bold;
  font-size: 20px;
  flex: 1;
  text-align: center;
  padding-top: 50px;
  margin-bottom: 50px;
}
/* line 231, ../sass/screen.scss */
#features .wrapper {
  display: flex;
  align-items: center;
}
/* line 235, ../sass/screen.scss */
#features .wrapper div {
  flex: 1;
  text-align: center;
  margin: 0 auto;
}
/* line 241, ../sass/screen.scss */
#features .wrapper p {
  margin-top: 10%;
}

/* line 247, ../sass/screen.scss */
#next-gen-vision {
  display: flex;
  width: 100%;
}
/* line 251, ../sass/screen.scss */
#next-gen-vision div {
  flex: 1;
}
/* line 256, ../sass/screen.scss */
#next-gen-vision .control-background img {
  width: 100%;
  height: 100%;
}
/* line 262, ../sass/screen.scss */
#next-gen-vision .next-gen {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: purple;
  background: url("../img/bg-newgen-opti.png") no-repeat;
  background-size: cover;
}
/* line 270, ../sass/screen.scss */
#next-gen-vision .next-gen h2 {
  font-size: 30px;
  color: white;
  margin: 10px 0 10px 10%;
}
/* line 276, ../sass/screen.scss */
#next-gen-vision .next-gen button {
  height: 40px;
  width: 120px;
  border-radius: 100px;
  border-style: inherit;
  margin: 10px 0 10px 10%;
}

/* line 287, ../sass/screen.scss */
#new-generation {
  height: 400px;
  display: flex;
}
/* line 292, ../sass/screen.scss */
#new-generation > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  width: 50%;
}
/* line 302, ../sass/screen.scss */
#new-generation > div .container h2 {
  font-size: 30px;
  margin-bottom: 30px;
}
/* line 305, ../sass/screen.scss */
#new-generation > div .container h2 span {
  color: #ff343d;
}
/* line 310, ../sass/screen.scss */
#new-generation > div .container button {
  height: 40px;
  width: 120px;
  border-radius: 100px;
  margin-top: 10px;
  margin-left: 0px;
  background-color: white;
  border: 1px solid #eff2f6;
}
/* line 323, ../sass/screen.scss */
#new-generation > div img {
  height: 300px;
  width: 100%;
}

/* line 330, ../sass/screen.scss */
#start-journey {
  background-image: url("../img/boat-opti.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
/* line 340, ../sass/screen.scss */
#start-journey h2 {
  font-size: 30px;
  color: white;
  margin-bottom: 40px;
}
/* line 346, ../sass/screen.scss */
#start-journey button {
  height: 40px;
  width: 120px;
  border-radius: 100px;
  border: 1px solid #eff2f6;
  background-color: white;
  margin-bottom: 15%;
}

/* line 356, ../sass/screen.scss */
footer {
  background-image: url("../img/phantom-typo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  height: 350px;
  display: flex;
  background-color: #f8f8ff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* line 368, ../sass/screen.scss */
footer > p {
  margin-bottom: 10px;
}
/* line 372, ../sass/screen.scss */
footer .copyright {
  color: lightgrey;
}

/*
.card {
	border : 1px solid black;
	padding : 30px;
	@include border-radius(20px);
	p {
		span {
			color : red;

			&:hover {
				color : $color;
				@include transition-duration(0.5s);
			}
		}
	}
}
*/
/* Tablet queries */
@media screen and (max-width: 800px) {
  /* line 400, ../sass/screen.scss */
  nav ul {
    margin: 0 50px;
  }

  /* line 406, ../sass/screen.scss */
  #phantom-section {
    /*flex-wrap: wrap;*/
  }
  /* line 410, ../sass/screen.scss */
  #phantom-section .phantom-left p {
    width: 80%;
  }
  /* line 415, ../sass/screen.scss */
  #phantom-section .phantom-right div.circle {
    display: none;
  }
  /* line 419, ../sass/screen.scss */
  #phantom-section .phantom-right img {
    height: 50px;
    display: none;
  }

  /* line 430, ../sass/screen.scss */
  #tap2fly-section {
    display: flex;
    flex-direction: column;
    min-height: 500px;
  }
  /* line 436, ../sass/screen.scss */
  #tap2fly-section .tap-to-fly {
    flex-grow: 1;
    width: 100%;
    height: 350px;
  }
  /* line 442, ../sass/screen.scss */
  #tap2fly-section .fly-higher {
    flex-grow: 1;
    width: 100%;
    height: 350px;
  }

  /* line 451, ../sass/screen.scss */
  #features .wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  /* line 454, ../sass/screen.scss */
  #features .wrapper div {
    flex-basis: 50%;
    margin: 20px auto;
  }

  /* line 463, ../sass/screen.scss */
  #new-generation div img {
    height: 150px;
  }
}
/* Phone queries*/
@media screen and (max-width: 500px) {
  /* line 476, ../sass/screen.scss */
  nav ul {
    margin: 0 10px;
  }

  /* line 482, ../sass/screen.scss */
  #phantom-section {
    /*flex-wrap: wrap;*/
    height: 500px;
  }
  /* line 487, ../sass/screen.scss */
  #phantom-section .phantom-left p {
    width: 60%;
  }
  /* line 494, ../sass/screen.scss */
  #phantom-section .phantom-right div.circle {
    display: none;
  }
  /* line 498, ../sass/screen.scss */
  #phantom-section .phantom-right img {
    display: none;
  }

  /* line 511, ../sass/screen.scss */
  #features .wrapper {
    display: flex;
    flex-direction: column;
  }
  /* line 514, ../sass/screen.scss */
  #features .wrapper div {
    margin: 20px auto;
  }

  /* line 520, ../sass/screen.scss */
  #new-generation {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* line 527, ../sass/screen.scss */
  #new-generation div img {
    height: 150px;
  }
  /* line 531, ../sass/screen.scss */
  #new-generation div:last-child {
    order: -1;
  }

  /* line 538, ../sass/screen.scss */
  #next-gen-vision .control-background {
    display: none;
  }
  /* line 541, ../sass/screen.scss */
  #next-gen-vision .next-gen {
    min-height: 300px;
  }
}
