@mixin transition-duration($seconds) {
	-ms-transition-duration: $seconds ;
    -webkit-transition-duration: $seconds ;
    transform-trnasition-duration: $seconds ;
    -o-transition-duration: $seconds ;

}